/* ceci n'est pas un commentaire */
/* bootstrap size ranges : 0.25rem to 3rem (4px 48px) */
/* vw : a percentage of the full viewport width (1vw : 12.76px)
vh : a percentage of the full viewport height (1vh : 6.93px) */

/* DOCUMENT SETTINGS */
:root {
	font-size: 20px;
}
html, body {
	width: 100%!important;
	height: 100% !important;
	font-family: 'Open Sans', sans-serif;
	/* minimum 16x, and grows more slowly (half the rate of screen growth) */
  font-size: calc(1em + 0.5vw); /* 16px + 6.38px */
	font-weight: 400;
	color: #666;
	text-rendering: optimizeLegibility !important;
	position: relative;
	scroll-behavior: smooth;
}
hr {
  height: 0.078125em; /* 1.25px */
  width: 2.25em; /* 35px */
	background: #6AAf08;
  text-align: center;
  position: relative;
}
/* button customization */
.btn-custom {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin-top: 3rem;
	margin-bottom: auto;
	margin-left: 0;
	margin-right: 0;
	padding: 0.5rem 0.9375rem; /* 8px 15px */
	border-radius: 0.375em; /* 6px */
	background-color: #6AAf08;
	letter-spacing: 0.0625em; /* 1px */
	font-size: calc(0.375em + 0.5vw); /* 6px + 6.38px */
	font-weight: 400;
	text-transform: uppercase;
	color: #FFFFFF;
	line-height: 1.5;
}
.btn-custom:hover {
	background-color: #5f9d07;
	color: #FFFFFF;
}
.btn-custom:focus {
	box-shadow: 0 0 0.375em rgba(255,255,255,0.1);
}

/* NAVBAR SECTION */
#navbarSection .navbar-brand {
  font-size: calc(0.6875em + 0.5vw); /* 11px + 6.38px */
  font-weight: 600;
  color: #eee;
}
#navbarSection #navbarResponsive {
	margin-top: 0.3125rem;
	font-size: calc(0.3125em + 0.5vw); /* 5px + 6.38px */
}
#navbarSection #navbarResponsive .navbar-nav > li > a:hover, #navbarSection #navbarResponsive .active {
  color: #6AAf08;
}

/* HEADER SECTION */
#headerSection {
	background-image: url('./img/intro-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	border: solid 1px white;
}
#headerSection .masking {
	background: linear-gradient(rgba(0,0,0,0.6) 0%, rgba(112,173,71,0.4) 100%);
}
#headerSection .headerPresentation{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: white;
	padding-top: 3rem;
	margin-top: 3rem;
}
#headerSection .btn-custom {
  border-top: 0.0625em solid rgba(255,255,255,0.4); /* 1px */
  border-bottom: 0.0625em solid rgba(255,255,255,0.4);
}
#headerSection hr {
  margin-left: 0;
	margin-bottom: 1.5rem;
}
#headerSection h1 {
	letter-spacing: 0.025em;
	/* grows more quickly, allowing for wider variation on larger screens */
  font-size: calc(1.4375em + 1.5vw); /* 23px + 19.14px */
	margin-top: 3rem;
	margin-bottom: 1rem;
	font-weight: bolder;
	text-transform: uppercase;
}

#headerSection h6 {
	margin-bottom: 0.25em; /* 4px */
	letter-spacing: 0.03125em;
	font-size: calc(0.5em + 0.5vw); /* 6px + 6.38px */
}

/* ABOUT SECTION */
#aboutSection {
	background: #F5F5F5;
	min-width: 100%;
	min-height: 100vh;
	border: 1px solid #ffc107;
}
#aboutSection .aboutContent {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	flex-wrap: wrap;
	margin-top: 3rem;
	padding-top: 3rem;
	padding-left: 3rem;
	padding-right: 3rem;
	margin-bottom: 3rem;
	padding-bottom: 1.5rem;
	color: rgba(0, 0, 0, 0.5);
	text-align: left;
	width: 100%;
}
#aboutSection .aboutText {
	width: 45%;
	margin: auto;
}
#aboutSection .aboutImage {
	width: 20%;
	margin-top: 0;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}
#aboutSection img {
	width: 100%;
	height: auto;
	border-radius: 0.25rem;
}
#aboutSection span {
	color: #70ad47;
}
#aboutSection h6 {
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-weight: bold;
	color: #343a40;
}
#aboutSection h3 {
	font-size: calc(1em + 0.5vw); /* 16px */
	font-weight: bold;
	color: #343a40;
}
.aboutText p {
	font-size: 0.9rem;
}
#aboutSection h3 span{
	font-weight: bold;
}
.aboutImage .image-description{
	font-size: 0.9rem;
}
#aboutSection .btn-custom {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 3.125rem;
	padding: 0.5rem 0.9375rem; /* 8px 15px */
	border-radius: 0.375em; /* 6px */
	background-color: #6AAf08;
	letter-spacing: 0.0625em; /* 1px */
	font-size: calc(0.375em + 0.5vw); /* 6px + 6.38px */
	font-weight: 400;
	text-transform: uppercase;
	color: #FFFFFF;
	line-height: 1.5;
}
#aboutSection .btn-custom:hover {
	background-color: #5f9d07;
	text-decoration: none;
	color: #FFFFFF;
}
#aboutSection .btn-custom:focus {
	box-shadow: 0 0 0.375em rgba(255,255,255,0.1);
}
/* SERVICES SECTION */
#serviceSection {
	background-color: #6AAf08;
	background-size: cover;
	min-width: 100%;
	min-height: 100vh;
	border: solid 1px white;
}
#serviceContent {
	width: 100%;
	height: 100%;
}
#serviceTitle {
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
	padding-top: 3rem;
	align-items: center;
	text-align: center;
	color: white;
}
#serviceTitle h1{
	margin-bottom: 1rem;
	font-weight: bolder;
}
#serviceTitle hr{
	margin-top: 0;
	margin-bottom: 1rem;
}
#serviceTitle h6{
	margin-bottom: 3rem;
}
#serviceImage {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 3rem;
	padding-top: 1rem;
	padding-bottom: 3rem;
	color: white;
	font-size: 1rem;
}
#serviceImage .boxImage{
	width: 20%;
	height: auto;
	margin: 10px;
}
#serviceImage h3 {
	padding-top: 1.5rem;
}
#serviceSection img {
	max-width: 85%;
	border: 0.3750em solid rgba(255,255,255,0.1);
	height: auto;
	border-radius: 50%;
}
#serviceSection hr {
	background: rgba(255,255,255,0.6);
}
#serviceSection h1 {
	font-size: calc(1em + 0.5vw); /* 16px */
}
#serviceSection .row h3 {
	font-size: calc(0.6250em + 0.5vw); /* 11px */
}
#serviceSection h6 {
	font-size: calc(0.375em + 0.5vw); /* 4px */

}
#serviceImage p {
	font-size: 1rem; /* 4.5px */
}

/* GALLERY SECTION */
#gallerySection {
	background: #F5F5F5;
	min-width: 100%;
	min-height: 100vh;
	border: solid 1px #ffc107;

}
#galleryContent {
	margin: auto;
	width: 90%;
	height: 100%;
}
#galleryNav {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1.5rem;
	padding-top: 3rem;
	color: #343a40;
	text-align: center;
}
#galleryNav .btnBox {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	text-overflow: clip;
	width: 80%;
}
#gallerySection h1 {
	font-size: calc(1em + 0.5vw); /* 16px */
	margin-bottom: 1rem;
	font-weight: bolder;
	color: #343a40;
}
#gallerySection h6 {
	font-size: calc(0.375em + 0.5vw); /* 6px */
	margin-bottom: 1.5rem;
}
#galleryNav hr {
	margin-top: 0;
	margin-bottom: 1rem;
}
#all  {
	margin-left: 0.5rem;
	margin-right: 0;
}
#lawnCare  {
	margin-left: 0;
	margin-right: 0.5rem;
}
#gardenCare  {
	margin-left: 0.25rem;
	margin-right: 0.5rem;
}
#planting  {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.galleryBtn {
	width: 25%
}
/* filter elements with JS */
#thumbnailGallery {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	padding-top: 3rem;
	flex-wrap: wrap;
}
#thumbnailGallery .filterDiv {
  display: none; /* hidden by default */
}
#thumbnailGallery .show { /* class "show" is added to the filtered elements */
  display: block;
}
/* lightbox with js */
#thumbnailGallery .row > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* overlay */
#thumbnailGallery .filterDiv .overlay {
  position: relative;
}
#thumbnailGallery .filterDiv .overlay .masking {
	top: 0;
	background: rgba(0,0,0,0.6);
  opacity: 0;
	object-fit: cover;
  position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	border-radius: 0.375em;
}
#thumbnailGallery .masking p {
	width: 50%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	color: white;
	text-align: center;
}
#thumbnailGallery img {
	max-width: 100%;
	height: auto;
	border-radius: 0.375em;
}
#thumbnailGallery .filterDiv .overlay .masking:hover {
  opacity: 1;
	transition: 0.3s;
}
#thumbnailGallery .filterDiv .overlay .cursor {
	cursor: pointer;
}
#thumbnailGallery .filterDiv .masking .text {
  left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	font-size: calc(0.28125em + 0.5vw); /* 4.5px */
	position: absolute;
	z-index: 2;
}
.lawnCare {
	padding: 0.5rem;
	padding-top: 0;
	width: 30%;
}
.gardenCare {
	padding: 0.5rem;
	padding-top: 0;
	width: 30%;
}
.planting {
	padding: 0.5rem;
	padding-top: 0;
	width: 30%;
}
/* modal background */
#myModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 2rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0,0,0,0.6);
}
/* modal content */
#myModal .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
/* modal control buttons */
#myModal .close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
#myModal .close:hover,
#myModal .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
#myModal .prev,
#myModal .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
#myModal .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
#myModal .prev:hover,
#myModal .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
#myModal .mySlides {
  display: none;
}
#myModal img {
	width: 100%;
	height: auto;
}
#myModal .modal {
	font-weight: bold;
	color: white;
}
.cursor {
  cursor: pointer;
}
/* element filter buttons */
#gallerySection .btn-custom {
	padding: 0.4375rem 1rem; /* 7px 16px */
	font-size: calc(0.3125em + 0.5vw);
	background-color: #e6e6e6;
	color: #555;
}
#gallerySection .btn-custom:hover {
	background-color: #6AAf08;
	color: #FFFFFF;
}
#gallerySection .active {
	background-color: #6AAf08;
	color: #FFFFFF;
}

/* TESTIMONIALS SECTION */
#testimonialSection {
	width: 100%;
	height: 75vh;
	background: url('img/testimonials-bg.jpg') center center no-repeat fixed;
	background-size: cover;
	border: 1px solid white;
}
#testimonialSection .masking {
	margin-top: -3rem; /* 48px */
  background: rgba(106, 175, 8, 0.85);
	background-size: cover;
	width: 100%;
	height: 100%;
}
/* carousel */
#testimonialSection .carousel-inner .carousel-item {
	height: 5em; /* 80px */
}
#testimonialSection .carousel-inner {
	padding-top: 3rem;
	padding-bottom: 1rem;
	align-items: center;
	text-align: center;
}
#testimonialSection .carousel-indicators li {
 	border: 0.0625em solid #70ad47; /* 1px */
 	border-radius: 100%;
	background-color: #FFFFFF;
	display: inline-block;
}
#testimonialSection .carousel-indicators li, #testimonialSection .carousel-indicators .active {
 	width: 0.375em; /* 6px */
 	height: 0.375em;
}
#testimonialSection .carousel-item p {
	font-size: calc(0.375em + 0.5vw); /* 6px */
	font-weight: 500;
  color: #FFFFFF;
}
/* ------- */
.testimonialTitle {
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
	padding-top: 3rem;
	align-items: center;
	color: white;
	text-align: center;
}
#testimonialSection hr {
	background: rgba(255,255,255,0.6);
	margin-top: 0;
	margin-bottom: 1.5rem;
}
#testimonialSection h1 {
	font-size: calc(0.9375em + 0.5vw); /* 15px */
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	padding-top: 1rem;
	font-weight: bolder;
	text-transform: uppercase;
}
#testimonialSection ul li {
	margin: 0.25rem;/* 15px */
}

/* CONTACT SECTION */
#contactSection {
	background: #F5F5F5;
	min-width: 100%;
	min-height: 100vh;
	border: solid 1px #ffc107
}
#contactSection .contact-item {
	color: #696969;
}
#contactSection .infoBox {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	padding-top: 1rem;
	justify-content: center;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	text-overflow: clip;
}
#contactSection .address {
	width: 20%;
	margin-right: 3rem;
}
#contactSection .hours {
	width: 20%;
	margin-left: 1rem;
	margin-right: 1rem;
}
#contactSection .phone {
	width: 20%;
	margin-left: 3rem;
}
#contactSection .horaire {
	margin-left: -0.75rem;
}
#contactSection .cferme {
	font-weight: bold;
	text-transform: uppercase;
}
#contactSection h1 {
	font-size: calc(1em + 0.5vw); /* 16px */
	margin-bottom: 1rem;
	font-weight: bolder;
	color: #343a40 !important;
}
#contactSection hr {
	margin-top: 0;
	margin-bottom: 1rem;
}
#contactSection .contact-item hr {
	margin-top: 0;
}
#contactSection .contact-item h3 {
	color: #343a40 !important;
}
#contactSection h3 {
	font-size: calc(0.375em + 0.5vw); /* 6px */
	font-weight: 600;
	text-transform: uppercase;
}
#contactSection h6 {
	font-size: calc(0.375em + 0.5vw); /* 6px */
	margin-bottom: 3rem;
}
#contactSection p {
	font-size: calc(0.3125em + 0.5vw); /* 5px */
}
.leaveUsMessage {
	padding-top: 3rem;
	padding-bottom: 0.5rem;
	color: #343a40;
	text-align: center;
}
.formInfo {
	display: flex;
	flex-wrap: nowrap;
	margin: -5px;
	padding: -5px;
	justify-content: center;
}
.formName {
	width: 30%;
	margin-right: 0.25rem;
	margin-bottom: 0.5rem;
}
.formMail {
	width: 30%;
	margin-right: 0.5rem;
	margin-left: 0.25rem;
}
.formMessage {
	display: flex;
	justify-content: center;
}
.messageContent {
	width: 60%;
}
.formBtn {
	display: flex;
	margin-top: 0.5rem;
	margin-bottom: 3rem;
	justify-content: center;
}
.modalBox {
	text-align: center;
	justify-content: center;
}
.modal-body {
	font-weight: 300;
	justify-content: center;
}
.brandNameModal {
	font-weight: bolder;
	color: #28a745;
}
.modal-footer {
	margin-right: auto;
	margin-left: auto;
}
#contactSection .contact-information {
	margin-top: -0.75rem;
}
#contactSection .form-control {
	border-radius: 0;
	font-size: calc(0.3125em + 0.5vw); /* 5px */
}
#contactSection .form-control:focus {
	box-shadow: 0 0 0.1875em #6AAf08;
	border-color: #ddd;
}
#contactSection #myMessage {
	width: 100%;
	margin-left: -0.4375rem;
}
#contactSection .row hr {
	background: #ddd;
}
#contactContent {
	margin: auto;
	width: 90%;
	height: 100%;
}
#contactContent .contactInfo {
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
	padding-top: 3rem;
	align-items: center;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
}
/* FOOTER SECTION */
#footerSection {
	background-color: #333;
}
#footerSection .footContainer {
	max-width: 100%;
	height: auto;
}
#footerSection .footContent {
	display: flex;
	margin-top: 1.5rem;
	margin-bottom: 3rem;
	justify-content: space-between;
	width: 30%;
	margin-right: auto;
	margin-left: auto;
}
#footerSection .fbIconBox {
	text-align: right;
}
#footerSection .twIconBox {
	text-align: center;
}
#footerSection .gpIconBox {
	text-align: left;
}
.fbIcon {
	border-radius: 50%;
}
.twIcon {
	border-radius: 50%;
}
.gpIcon {
	border-radius: 50%;
}
#footerSection .social-media a {
	padding: 0.0625rem 0.5rem; /* 1px 8px */
	background-color: #444;
	border-radius: 50%;
  font-size: calc(0.8125em + 0.5vw); /* 13px */
	color: #6aaf08;
	transition: all 0.5s;
}
#footerSection .social-media a:hover {
	font-size: 1.1875em; /* 28px */
	transition: all 0.3s;
}
#footerSection .fa-facebook:hover {
	color: #3b5998;
	transition: all 0.5s;
}
#footerSection .fa-twitter:hover {
	color: #00aced;
	transition: all 0.5s;
}
#footerSection .fa-google-plus-official:hover {
	color: #dd4b39;
  transition: all 0.5s;
}
#footerSection .bottom {
	display: flex;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	align-items: center;
	text-align: center;
}
#footerSection .bottom p {
	font-size: calc(0.3125em + 0.5vw); /* 5px */
	margin-left: auto;
	margin-right: auto;
}
#footerSection .bottom a {
	color: #888;
}
#footerSection .bottom a:hover {
	text-decoration: none;
	color: #ccc;
}

/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
	:root {
		font-size: 18px;
	}
	#contactSection .contact-item {
		margin-top: 1rem !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	#contactSection #myName {
		margin-right: 0 !important;
	}
	#contactSection #myEmail {
		margin-left: -0.3125rem !important;
	}
	#aboutSection .aboutContent {
		flex-direction: column;
		align-items: center;
		align-content: center;
		text-align: center;
	}
	.aboutText {
		width: 80% !important;
	}
	.aboutImage {
		width: 80% !important;
	}
	.aboutImage img {
		width: 50% !important;
	}
	.image-description {
		width: 100%;
	}
	#serviceImage {
		flex-direction: column;
		align-items: center;
	}
	#serviceImage .boxImage {
		width: 80%;
	}
	.lawnCare {
		padding: 0.5rem;
		padding-top: 0;
		width: 100%;
	}
	.planting {
		padding: 0.5rem;
		padding-top: 0;
		width: 100%;
	}
	.gardenCare {
		padding: 0.5rem;
		padding-top: 0;
		width: 100%;
	}
}
@media screen and (max-width: 768px) {
	:root {
		font-size: 20px;
	}
	#gallerySection button {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.galleryBtn {
		margin: 5px;
	}
	.lawnCare {
		padding: 0.5rem;
		padding-top: 0;
		width: 45%;
	}
	.planting {
		padding: 0.5rem;
		padding-top: 0;
		width: 45%;
	}
	.gardenCare {
		padding: 0.5rem;
		padding-top: 0;
		width: 45%;
	}
	#contactSection .address {
		width: 100%;
		margin-right: 3rem;
	}
	#contactSection .hours {
		width: 100%;
	}
	#contactSection .phone {
		width: 100%;
	}
	.formName {
		width: 100%;
		margin-right: 0.25rem;
		margin-bottom: 0.5rem;
	}
	.formMail {
		width: 100%;
		margin-right: 0.5rem;
		margin-left: 0.25rem;
	}
	.messageContent {
		width: 100%;
	}
}
@media screen and (max-width: 576px) {
	:root {
		font-size: 20px;
	}
}
