/* ceci n'est pas un commentaire */
/* bootstrap size ranges : 0.25rem to 3rem (4px 48px) */
/* vw : a percentage of the full viewport width (1vw : 12.76px)
vh : a percentage of the full viewport height (1vh : 6.93px) */

/* DOCUMENT SETTINGS */
html, body {
	width: 100vw !important;
	height: 100vh !important;
	font-family: 'Open Sans', sans-serif;
	/* minimum 16x, and grows more slowly (half the rate of screen growth) */
  font-size: calc(1em + 0.5vw); /* 16px + 6.38px */
	font-weight: 400;
	color: #666;
	text-rendering: optimizeLegibility !important;
	position: relative;
	scroll-behavior: smooth;
}
hr {
  height: 0.078125em; /* 1.25px */
  width: 2.25em; /* 35px */
	background: #6AAf08;
  text-align: center;
  position: relative;
}
/* button customization */
.btn-custom {
	margin: 0;
	margin-top: 1.125rem; /* 20px */
	padding: 0.5rem 0.9375rem; /* 8px 15px */
	border-radius: 0.375em; /* 6px */
	background-color: #6AAf08;
	letter-spacing: 0.0625em; /* 1px */
	font-size: calc(0.375em + 0.5vw); /* 6px + 6.38px */
	font-weight: 400;
	text-transform: uppercase;
	color: #FFFFFF;
}
.btn-custom:hover {
	background-color: #5f9d07;
	color: #FFFFFF;
}
.btn-custom:focus {
	box-shadow: 0 0 0.375em rgba(255,255,255,0.1);
}

/* NAVBAR SECTION */
#navbarSection .navbar-brand {
  font-size: calc(0.6875em + 0.5vw); /* 11px + 6.38px */
  font-weight: 600;
  color: #eee;
}
#navbarSection #navbarResponsive {
	margin-top: 0.3125rem;
	font-size: calc(0.3125em + 0.5vw); /* 5px + 6.38px */
}
#navbarSection #navbarResponsive .navbar-nav > li > a:hover, #navbarSection #navbarResponsive .active {
  color: #6AAf08;
}

/* HEADER SECTION */
#headerSection {
	background-image: url('./img/intro-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#headerSection .masking {
	background: linear-gradient(rgba(0,0,0,0.6) 0%, rgba(112,173,71,0.4) 100%);
}
#headerSection .btn-custom {
  border-top: 0.0625em solid rgba(255,255,255,0.4); /* 1px */
  border-bottom: 0.0625em solid rgba(255,255,255,0.4);
}
#headerSection h1 {
	letter-spacing: 0.025em;
	/* grows more quickly, allowing for wider variation on larger screens */
  font-size: calc(1.4375em + 1.5vw); /* 23px + 19.14px */
}
#headerSection h6 {
	margin-bottom: 0.25em; /* 4px */
	letter-spacing: 0.03125em;
	font-size: calc(0.5em + 0.5vw); /* 6px + 6.38px */
}

/* ABOUT SECTION */
#aboutSection {
	background: #F5F5F5;
}
#aboutSection span {
	color: #70ad47;
}
#aboutSection h3 {
	font-size: calc(1em + 0.5vw); /* 16px */
}
#aboutSection .row p {
	font-size: calc(0.3125em + 0.5vw); /* 5px */
	font-weight: 600;
}
#aboutSection .col-lg-3 > .image-description {
	font-size: calc(0.28125em + 0.5vw); /* 4.5px */
	font-weight: 600;
}

/* SERVICES SECTION */
#serviceSection {
	background-color: #6AAf08;
	background-size: cover;
}
#serviceSection img {
	max-width: 85%;
	border: 0.3750em solid rgba(255,255,255,0.1);
}
#serviceSection hr {
	background: rgba(255,255,255,0.6);
}
#serviceSection h1 {
	font-size: calc(1em + 0.5vw); /* 16px */
}
#serviceSection .row h3 {
	font-size: calc(0.6250em + 0.5vw); /* 11px */
}
#serviceSection h6 {
	font-size: calc(0.375em + 0.5vw); /* 4px */
}
#serviceSection .row p {
	font-size: calc(0.28125em + 0.5vw); /* 4.5px */
}

/* GALLERY SECTION */
#gallerySection {
	background: #F5F5F5;
}
#gallerySection h1 {
	font-size: calc(1em + 0.5vw); /* 16px */
}
#gallerySection h6 {
	font-size: calc(0.375em + 0.5vw); /* 6px */
}
/* filter elements with JS */
#gallerySection .filterDiv {
  display: none; /* hidden by default */
}
#gallerySection .show { /* class "show" is added to the filtered elements */
  display: block;
}
#gallerySection .visuallyHidden {
  opacity: 0;
}
/* ------- */
#gallerySection .btn-custom {
	padding: 0.4375rem 1rem; /* 7px 16px */
	font-size: calc(0.3125em + 0.5vw);
	background-color: #e6e6e6;
	color: #555;
}
#gallerySection .btn-custom:hover, #gallerySection > .active {
	background-color: #6AAf08;
	color: #FFFFFF;
}
/* masking */
#gallerySection .gallery-item .hover-item {
	width: 94%;
	height: 90%;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
	border-radius: 2%;
	position: absolute;
  transition: all 0.5s;
}
#gallerySection .gallery-item:hover .hover-item {
  opacity: 1;
}
#gallerySection .hover-text {
	font-size: calc(0.375em + 0.5vw); /* 6px */
	font-weight: lighter;
	letter-spacing: 0.09375em; /* 1.5px */
  color: #FFFFFF;
  position: relative;
}
/* modal */


/* TESTIMONIALS SECTION */
#testimonialSection {
	width: 100vw;
	height: 75vh;
	background: url('img/testimonials-bg.jpg') center center no-repeat fixed;
	background-size: cover;
}
#testimonialSection .masking {
	margin-top: -3rem; /* 48px */
  background: rgba(106, 175, 8, 0.85);
	background-size: cover;
}
/* carousel */
#testimonialSection .carousel-inner .carousel-item {
	height: 5em; /* 80px */
}
#testimonialSection .carousel-indicators li {
 	border: 0.0625em solid #70ad47; /* 1px */
 	border-radius: 100%;
	background-color: #FFFFFF;
	display: inline-block;
}
#testimonialSection .carousel-indicators li, #testimonialSection .carousel-indicators .active {
 	width: 0.375em; /* 6px */
 	height: 0.375em;
}
#testimonialSection .carousel-item p {
	font-size: calc(0.375em + 0.5vw); /* 6px */
	font-weight: 500;
  color: #FFFFFF;
}
/* ------- */
#testimonialSection hr {
	background: rgba(255,255,255,0.6);
}
#testimonialSection h1 {
	font-size: calc(0.9375em + 0.5vw); /* 15px */
}

/* CONTACT SECTION */
#contactSection {
	background: #F5F5F5;
}
#contactSection .contact-item {
	color: #696969;
}
#contactSection h1 {
	font-size: calc(1em + 0.5vw); /* 16px */
}
#contactSection h3 {
	font-size: calc(0.375em + 0.5vw); /* 6px */
	font-weight: 600;
	text-transform: uppercase;
}
#contactSection h6 {
	font-size: calc(0.375em + 0.5vw); /* 6px */
}
#contactSection p {
	font-size: calc(0.3125em + 0.5vw); /* 5px */
}
#contactSection .contact-information {
	margin-top: -0.75rem;
}
#contactSection .form-control {
	border-radius: 0;
	font-size: calc(0.3125em + 0.5vw); /* 5px */
}
#contactSection .form-control:focus {
	box-shadow: 0 0 0.1875em #6AAf08;
	border-color: #ddd;
}
#contactSection #myMessage {
	width: 100%;
	margin-left: -0.4375rem;
}
#contactSection .row hr {
	background: #ddd;
}

/* FOOTER SECTION */
#footerSection {
	background-color: #333;
}
#footerSection .social-media a {
  font-size: calc(0.8125em + 0.5vw); /* 13px */
	color: #6aaf08;
	/* border-radius: 50%; */
	/* background-color: #fff; */
	transition: all 0.5s;
}
#footerSection .social-media a:hover {
	font-size: 1.1875em; /* 28px */
	transition: all 0.3s;
}
#footerSection .fa-facebook:hover {
	color: #3b5998;
	transition: all 0.5s;
}
#footerSection .fa-twitter:hover {
	color: #00aced;
	transition: all 0.5s;
}
#footerSection .fa-google-plus-g:hover {
	color: #dd4b39;
  transition: all 0.5s;
}
#footerSection .bottom p {
	font-size: calc(0.3125em + 0.5vw); /* 5px */
}
#footerSection .bottom a {
	color: #888;
}
#footerSection .bottom a:hover {
	text-decoration: none;
	color: #ccc;
}

/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
	#contactSection .contact-item {
		margin-top: 1rem !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	#contactSection #myName {
		margin-right: 0 !important;
	}
	#contactSection #myEmail {
		margin-left: -0.3125rem !important;
	}
	#contactSection #myMessage {
		margin-left: 0.015625rem !important;
	}
}
@media screen and (max-width: 768px) {
	#gallerySection button {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}
@media screen and (max-width: 576px) {

}
