/* ceci n'est pas un commantaire */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/* document settings */

html, body {
	font-family: 'Poppins', 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	color: #666;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}

hr {
  height: 3px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #6aaf08;
  margin: 0 auto;
  border: 0;
}

h2 {
	margin: 0 0 20px 0;
	font-weight: 600;
	font-size: 36px;
	color: #333;
}

h3, h4 {
	font-size: 20px;
	font-weight: 400;
	color: #333;
}

h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}

.btn-custom {
	text-transform: uppercase;
	color: #fff;
	background-color: #6aaf08;
	padding: 14px 20px;
	letter-spacing: 1px;
	margin: 0;
	font-size: 17px;
	font-weight: 400;
	border-radius: 6px;
	margin-top: 20px;
	transition: all 0.3s;
}

/* navigation bar */

/* header section */
#header .intro {
	background: url('img/intro-bg.jpg') top center no-repeat;
	background-size: cover;
}
#header .intro .overlay {
    background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(112,173,71,0.4) 100%);
}
#header .intro-text {
	padding-top: 320px;
	padding-bottom: 200px;
}
#header .intro h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -1px;
}
#header .intro p {
	color: #fff;
	font-size: 22px;
	line-height: 28px;
	letter-spacing: -1px;
}

/*

about section :
target div tag and modify its elements by their classes and/or tags

*/
#about {
	padding: 120px 0 80px 0;
	background: #f6f6f6;
}
#about h3 {
	font-size: 22px;
	font-weight: 600;
	margin: 20px 0 0 0;
}
#about .about-text span {
	color: #70ad47;
	font-weight: 700;
	letter-spacing: -1px;
}
#about hr {
	margin-left: 0;
	margin-bottom: 40px;
}
#about .btn {
	margin-top: 40px;
}
#about .about-media img {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}
#about .about-text, #about .about-desc {
	margin-bottom: 40px;
}
#about p {
	line-height: 24px;
	margin-top: 20px;
}

/* services section */
#services .service {
	border-style: solid;
	border-width: 1em;
	border-color: #6aaf08;
}

/* gallery section */

/* testimonials section */
#testimonials {
	background-image: url('img/testimonials-bg.jpg');
	background-size: cover;
	width: 100%;
  height: 80%;
	position: relative;
  display: block;
}
#testimonials .container > h1 {
  color: #fff;
}
#testimonials .carousel-inner .carousel-item {
  background: transparent;
  height: 250px;
}
#testimonials .carousel-indicators li {
	background-color: #fff;
 	width: 6px;
 	height: 6px;
 	border: 1px solid #70ad47;
 	border-radius: 100%;
	display:inline-block;
	cursor: pointer;
}
#testimonials .carousel-indicators .active {
 	width:6px;
 	height:6px;
 	background-color:#fff
}

/* contact section */
#fuck h1 {
	font-size: 70px;
	color: rgba(0,0,0,0.6);
}
