/* ceci n'est pas un commantaire */
/* default font size : 16px */

/* document settings */
html, body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility !important;
	width: 100vw !important;
	height: 100vh !important;
	position: relative;
	scroll-behavior: smooth;
}
hr {
  height: 3px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #6aaf08;
  margin: 0 auto;
  border: 0;
}
h2 {
	margin: 0 0 20px 0;
	font-weight: 600;
	font-size: 36px;
	color: #333;
}
h3, h4 {
	font-size: 20px;
	font-weight: 400;
	color: #333;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
.btn-custom {
	text-transform: uppercase;
	color: #fff;
	background-color: #6aaf08;
	padding: 14px 20px;
	letter-spacing: 1px;
	margin: 0;
	font-size: 17px;
	font-weight: 400;
	border-radius: 6px;
	margin-top: 20px;
	transition: all 0.3s;
}

/* navigation bar */
#navbarSection .navbar-brand {
  font-size: 1.625em;
  font-weight: 600;
  color: #eee;
	padding: 1.1250rem;
}
#navbarSection #navbarResponsive .navbar-nav > li > a {
	color: #ddd;
	font-weight: 100;
	font-size: 1.1em !important;
	padding-right: 1.625em;
}
#navbarSection #navbarResponsive .navbar-nav > li > a:hover {
  color: #6aaf08;
}
#navbarSection .nav-item {
  padding-right: 1.3em;
}
#navbarSection .navbar-toggler-icon {
  background-color: #888;
}
#navbarSection .navbar-toggler-icon {
	margin: 0.3125em 0;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

/* header section */
#headerSection .intro {
	background: url('./img/intro-bg.jpg') top center no-repeat;
	background-size: cover;
}
#headerSection .intro .overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.8) 0%,rgba(112, 173, 71, 0.4) 100%); /* (from to, color, color)*/
}
#headerSection .intro-text {
	padding-top: 320px;
	padding-bottom: 200px;
}
#headerSection .intro h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -1px;
}
#headerSection .intro p {
	color: #fff;
	font-size: 22px;
	line-height: 28px;
	letter-spacing: -1px;
}

/* about section */
#aboutSection {
	padding: 120px 0 80px 0;
	background: #f6f6f6;
}
#aboutSection h3 {
	font-size: 22px;
	font-weight: 600;
	margin: 20px 0 0 0;
}
#aboutSection .about-text span {
	color: #70ad47;
	font-weight: 700;
	letter-spacing: -1px;
}
#aboutSection hr {
	margin-left: 0;
	margin-bottom: 40px;
}
#aboutSection .btn {
	margin-top: 40px;
}
#aboutSection .about-media img {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}
#aboutSection .about-text, #aboutSection .about-desc {
	margin-bottom: 40px;
}
#aboutSection p {
	line-height: 24px;
	margin-top: 20px;
}

/* services section */
#serviceSection {
	padding: 120px 0 80px 0;
	width: 100vw;
	height: 100vh;
	background: rgba(106, 175, 8, 0.8);
	background-size: cover;
}
#serviceSection img {
	border: solid 8px #6aaf08;
	border-radius: 100%;
}

/* gallery section */
#gallerySection {
	padding: 120px 0 80px 0;
}
#gallerySection img {
	border: 2px solid #fff;
}

/* testimonials section */
#testimonialsSection {
	background: url('img/testimonials-bg.jpg') center center no-repeat fixed;
	background-size: cover;
}
#testimonialsSection .overlay {
  background: rgba(106, 175, 8, 0.85);
	background-size: cover;
}
#testimonialsSection .container > h1 {
  color: #fff;
}
#testimonialsSection .carousel-inner .carousel-item {
  background: transparent;
  height: 250px;
}
#testimonialsSection .carousel-indicators li {
	background-color: #fff;
 	width: 6px;
 	height: 6px;
 	border: 1px solid #70ad47;
 	border-radius: 100%;
	display:inline-block;
	cursor: pointer;
}
#testimonialsSection .carousel-indicators .active {
 	width:6px;
 	height:6px;
 	background-color:#fff
}

/* contact section */
#contactSection {
	padding: 120px 0 80px 0;
	background: #f6f6f6;
	background-size: cover;
}
#contactSection .contact-item {
  margin: 20px 0 40px 0;
}
#contactSection p {
	color: #777
}
#contactSection > .contact-item > hr {
	color: #ddd;
}
#contactSection h3 {
  font-size: 1em;
  font-weight: 600;
}

/* footer section */
#footerSection {
	height: 25vh;
	background-color: #444;
}
#footerSection .social-media a {
	padding: 2.5rem;
  font-size: 2em;
	border-radius: 100%;
	transition: all 0.2s;
}
#footerSection .fa-facebook {
	color: #3b5998;
	transition: all 0.5s;
}
#footerSection .fa-twitter {
	color: #00aced;
	transition: all 0.5s;
}
#footerSection .fa-google-plus-g {
	color: #dd4b39;
	transition: all 0.5s;
}
#footerSection .social-media a:hover {
	font-size: 4.5em;
	transition: all 0.2s;
}
#footerSection .fa-facebook:hover, #footerSection .fa-twitter:hover, #footerSection .fa-google-plus-g:hover {
  color: #6aaf08;
  transition: all 0.5s;
}

/* media queries */
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}
