/* ceci n'est pas un commantaire */
/* default font size : 16px 0.0625em */

/* document settings */
html, body {
	width: 100vw !important;
	height: 100vh !important;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility !important;
	position: relative;
	scroll-behavior: smooth;
}
h2 {
	font-weight: normal;
	font-size: 2.25em; /* 36px */
	color: #333;
}
h3, h4 {
	font-size: 1.250em;
	font-weight: 400;
	color: #333;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.250em;
}
hr {
  height: 0.1875em;
  width: 4.375em;
  text-align: center;
  position: relative;
  background: #6aaf08;
  margin: 0 auto;
  border: 0;
}

/* button customization */
.btn-custom {
	padding: 0.8750em 1.250em;
	margin-top: 1.250em;
	border-radius:0.3750em;
	text-transform: uppercase;
	font-size: 1.0625em;
	font-weight: 400;
	letter-spacing: 0.0625em;
	color: #fff;
	background-color: #6aaf08;
	transition: all 0.3s;
}
.btn-custom:hover {
	background-color: #5f9d07;
	color: #fff;
}

/* navbar section */
#navbarSection .navbar-brand {
  font-size: 1.625em;
  font-weight: 580;
  color: #eee;
	padding: 1.1250em;
}
#navbarSection .navbar-toggler {
	border: 0.0625em solid #eee;
	border-radius: 0;
}
#navbarSection .navbar-toggler-icon {
  background-color: #888;
	margin: 0.3125em 0;
  width: 1.3750em;
  height: 0.125em;
	border: 0.0625em solid rgba(255, 255, 255, 0.2);
  border-radius: 0.0625em;
	display: block;
}
#navbarSection #navbarResponsive .navbar-nav > li > a {
	padding-right: 1.625em;
	text-transform: uppercase;
	font-size: 0.9375em;
	font-weight: 100;
	color: #ddd;
}
#navbarSection #navbarResponsive .navbar-nav > li > a:hover {
  color: #6aaf08;
}
#navbarSection #navbarResponsive .nav-item {
  padding-right: 1.1250em;
}
#navbarSection #navbarResponsive .nav-item .active {
  color: #6aaf08;
}

/* header section */
#headerSection {
	background: url('./img/intro-bg.jpg') top center no-repeat;
	background-size: cover;
}
#headerSection .overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.6) 0%,rgba(112, 173, 71, 0.4) 100%); /* linear-gradient(from to, color, color)*/
}
#headerSection .btn-custom {
  border-top: 0.0625em solid rgba(255,255,255,0.4); /* 1px */
  border-bottom: 0.0625em solid rgba(255,255,255,0.4);
}
#headerSection h1 {
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 600;
  letter-spacing: 0.0125em;
}
#headerSection p {
	font-size: 1.3750em;
	letter-spacing: 0.03125em;
}
#headerSection .intro-text {
	padding-top: 20em;
	padding-bottom: 12.5em;
}

/* about section */
#aboutSection {
	padding: 7.5em 0 5em 0; /* 120px 80px */
	background-color: #f6f6f6;
}
#aboutSection .about-media img {
	width: 100%;
	height: auto;
	position: relative;
	display: block;
}
#aboutSection .btn {
	margin-top: 2.5em;
}
#aboutSection hr {
	margin-left: 0;
	margin-bottom: 40px;
}
#aboutSection span {
	font-weight: 700;
	letter-spacing: 0.0125em; /* 0.2px */
	color: #70ad47;
}
#aboutSection h3 {
	font-size: 1.3750em;
	font-weight: 500;
	margin: 1.25em 0 0 0;
}
#aboutSection p {
	font-size: 0.9375em; /* 15px */
	margin-top: 1.250em; /* 20px */
}
#aboutSection .about-text, #aboutSection .about-desc {
	margin-bottom: 2.5em;
}

/* services section */
#serviceSection {
	padding: 7.5em 0 10em 0; /* 120px 160px */
	background-color: #6aaf08;
	background-size: cover;
}
#serviceSection img {
	width: 14.0625em; /* 225px */
	height: 14.0625em;
	border-radius: 100%;
	border: 0.6250em solid rgba(255,255,255,0.1);
}
#serviceSection hr {
	padding: 0;
	background: rgba(255,255,255,0.6);
}
#serviceSection h1 {
	font-weight: 500;
	font-size: 2.3em;
}
#serviceSection h3 {
	font-size: 1.5em; /* 24px */
}
#serviceSection p {
	padding-top: 0.3125em; /* 5px */
	letter-spacing: 0.0125em; /* 2px */
}
#serviceSection .container > p {
	font-size: 1.250em;
}

/* gallery section */
#gallerySection {
	background-color: #f6f6f6;
	padding: 7.5em 0 5em 0; /* 120px 80px */
}
#gallerySection img {
	padding-top: 1.1875em; /* 19px */
}
#gallerySection .gallery-item .hover-item {
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
  top: 1.125em; /* 18px */
  left: 0.9475em;
  height: 92%;
  width: 92%;
	border-radius: 1%;
  transition: all 0.5s;
	position: absolute;
}
#gallerySection .gallery-item:hover .hover-item {
  opacity: 1;
}
#gallerySection .hover-text {
	font-size: 1.0625em; /* 17px */
	text-transform: uppercase;
	text-align: center;
  color: #fff;
  position: absolute;
}
#gallerySection h2 {
	font-weight: 600;
}
#gallerySection p {
	font-size: 1.250em;
}
#gallerySection .btn {
	padding: 0.5em; /* 8px */
	margin: 0.625em 0.625em 0 0.625em; /* 10px */
	background-color: #e6e6e6;
	color: #555;
}
#gallerySection .btn-custom .active {
	background-color: #6aaf08;
	color: #fff;
}
#gallerySection .btn:hover {
	background-color: #6aaf08;
	color: #fff;
}

/* testimonials section */
#testimonialsSection {
	background: url('img/testimonials-bg.jpg') center center no-repeat fixed;
	background-size: cover;
}
#testimonialsSection .overlay {
  background: rgba(106, 175, 8, 0.85);
	background-size: cover;
}
#testimonialsSection .container > h1 {
  color: #fff;
}
#testimonialsSection .carousel-inner .carousel-item {
  background: transparent;
  height: 250px;
}
#testimonialsSection .carousel-indicators li {
	background-color: #fff;
 	width: 6px;
 	height: 6px;
 	border: 1px solid #70ad47;
 	border-radius: 100%;
	display:inline-block;
	cursor: pointer;
}
#testimonialsSection .carousel-indicators .active {
 	width:6px;
 	height:6px;
 	background-color:#fff
}

/* contact section */
#contactSection {
	padding: 120px 0 80px 0;
	background: #f6f6f6;
	background-size: cover;
}
#contactSection .contact-item {
  margin: 20px 0 40px 0;
}
#contactSection p {
	color: #777
}
#contactSection > .contact-item > hr {
	color: #ddd;
}
#contactSection h3 {
  font-size: 1em;
  font-weight: 600;
}

/* footer section */
#footerSection {
	height: 25vh;
	background-color: #333;
}
#footerSection .social-media a {
	padding: 2rem; /* 32px */
  font-size: 2em;
	border-radius: 100%;
	transition: all 0.5s;
}
#footerSection .fa-facebook, #footerSection .fa-twitter, #footerSection .fa-google-plus-g {
	color: #6aaf08;
}
#footerSection .social-media a:hover {
	font-size: 4em; /* 64px */
	transition: all 0.3s;
}
#footerSection .fa-facebook:hover {
	color: #3b5998;
	transition: all 0.5s;
}
#footerSection .fa-twitter:hover {
	color: #00aced;
	transition: all 0.5s;
}
#footerSection .fa-google-plus-g:hover {
	color: #dd4b39;
  transition: all 0.5s;
}
